:root {
  --primary-color: #030303;
  --secondary-color: #FCFCFC;
  --highlight-color: #C4F500;
  --accent-color: #E3E0D8;
}

@media (min-width: 960px) {
.container {
  max-width: 680px;
}
}

body {
  font-family: "Lato", sans-serif;
  padding-top: 4em;
  font-size: 1.2em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

h1 {
  font-size: 1em;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 1em;
}

.container {
  margin-bottom: 2em;
}

.row {
  margin-bottom: 1em;
}